@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@font-face {
  font-family: 'BebasNeue-regular';
  src: url(../../fonts/BebasNeue_Regular.otf);
}
@font-face {
  font-family: 'BebasNeue-thin';
  src: url(../../fonts/BebasNeue_Thin.otf);
}
$main-background-color: #9789f9;
$list-font-family: 'Roboto', sans-serif;